/**
 * Reset and global styles.
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
/*    overflow-y: scroll;  Keeps page centred in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
    background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
ol, ul {
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a:focus {
    /*outline: thin dotted;*/
    outline: 0;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
    outline: 0;
}
a img {
    border: 0;
}

/*
 * Clearfix
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/*-----------------------------------------------------------------------------
    1. GLOBAL
-----------------------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    color: #111;
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
    clear: both;
    font-weight: normal;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

/* Text elements */
p {
    margin: 0;
}
ul, ol {
    margin: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
b, strong {
    font-weight: bold;
}
dfn, cite, em, i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
    font-style: italic;
    font-size: 13px;
}
pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 1.6em;
    padding: 1.6em;
    overflow: auto;
    max-width: 100%;
    color: #111;
    border: 1px dashed #ccc;
    white-space: pre-wrap;
}
code, kbd, tt, var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
a abbr, a acronym {
    border-bottom: 0 none;
}
mark, ins {
    background: #fff9c0;
    text-decoration: none;
}
sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
small {
    font-size: 75%;
}
big {
    font-size: 125%;
}
figure {
    margin: 0;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
th {
    font-weight: bold;
}
button,
input,
select,
textarea {
    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
    *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
    line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
    *overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid #d7d7d7;
    border-bottom-color: #bdbdbd;
    border-radius: 1px;
    background: #f5f5f5;
    /*-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
    */
    color: rgba(0,0,0,.8);
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
    font-size: 13px;
    line-height: 1;
    padding: 6px 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    font-weight: bold;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
 /*   border-color: #ccc #bbb #aaa #bbb;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
*/
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb #bbb;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
    padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
    -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}
input[type=text],
input[type=password],
input[type=email],
textarea {
    color: #999;
    border: 1px solid #d7d7d7;
    border-top-color: #c5c5c5;
    border-radius: 1px;
    -box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
input[type=text],
input[type=password],
input[type=email] {
    font-size: .8125em;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
textarea:hover,
.wrap-textarea:hover,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
    color: #111;
    border-color: #c5c5c5;
}
input[type=text],
input[type=password],
input[type=email] {
    padding: 3px 8px;
}
textarea {
    overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
    vertical-align: top; /* Improves readability and alignment in all browsers */
    width: 100%;
    padding: 4px;
    -box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


/* Links */
a {
    color: #111;
    text-decoration: none;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
a:hover {
    color: #cecece;
}

/**
 * Make sure embeds and iframes fit their containers.
 */
embed,
iframe,
object {
    max-width: 100%;
}

html {
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*  Shortcodes Styles
/*-----------------------------------------------------------------------------------*/

/*---- Columns ----*/

.mt-one-half { width: 48%; }
.mt-one-third { width: 30.66%; }
.mt-two-third { width: 65.33%; }
.mt-one-fourth { width: 22%; }
.mt-three-fourth { width: 74%; }
.mt-one-fifth { width: 16.8%; }
.mt-two-fifth { width: 37.6%; }
.mt-three-fifth { width: 58.4%; }
.mt-four-fifth { width: 79.2%; }
.mt-one-sixth { width: 13.33%; }
.mt-five-sixth { width: 82.67%; }
.mt-full-width { width: 100%; }

.mt-one-half,
.mt-one-third,
.mt-two-third,
.mt-three-fourth,
.mt-one-fourth,
.mt-one-fifth,
.mt-two-fifth,
.mt-three-fifth,
.mt-four-fifth,
.mt-one-sixth,
.mt-five-sixth {
    position: relative;
    margin-right: 4%;
    margin-bottom: 20px;
    float: left;
}

.mt-full-width {
    position: relative;
    margin-bottom: 20px;
}

.mt-column-last {
    margin-right: 0!important;
    clear: right;
}

/*---- Buttons ----*/

.mt-button, input.wpcf7-submit, #cancel-comment-reply-link, .reply .comment-reply-link, .logged-in-as a, #commentform input#submit, a.more-link {
    padding: 4px 12px;  
    height: 21px;
    line-height: 21px;  
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none !important;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;  
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 2px 20px;
}
#commentform input#submit {
    padding: 0; 
    height: 36px;
    line-height: 36px;  
}
.mt-button.square {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
/* round buttons */
.mt-button.round {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}
.mt-button.medium.round {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.mt-button.large.round {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
/* button sizes */
.mt-button.medium {
    padding: 8px 16px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    letter-spacing: 0.1em;
}
.mt-button.large {
    padding: 10px 30px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

/*---- Alerts ----*/

.mt-alert {
    padding: 15px 40px 15px 20px;
    margin: 10px 0 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.1); 
    position: relative;
}
.mt-alert span {
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 12px;
    line-height: 10px;
}
.mt-alert a {border-bottom: 1px dashed #fff; color: #fff;}
.mt-alert a:hover {border-bottom: 1px solid #fff; color: #fff;}
.mt-alert p {
    margin-bottom: 0 !important;
    color: #fff;
}
.mt-green {background: #A0CE4E;}
.mt-red {background: #EA2615;}
.mt-yellow {background: #FFD42B;}
.mt-blue {background: #60B8F2;}
.mt-alert .closeit a {
    text-decoration: none;
    color: #fff;
    border-bottom: 0;
}

/*---- Tabs ----*/
.mt-tabs {
    margin-bottom: 20px;
}
.mt-tabs ul.mt-tabs-nav {
    display: block;
    margin: 0;
    padding: 0; 
}
.mt-tabs ul.mt-tabs-nav li {
    float: left;
    position: relative;
    margin: 0 0 -1px 0 !important;
    z-index: 3;
    list-style: none;
}
.mt-tabs ul.mt-tabs-nav li a {
    display: block;
    text-decoration: none;
    width: auto;
    height: 39px;
    padding: 0px 20px;
    line-height: 40px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.mt-tabs ul.mt-tabs-nav li.ui-state-active {
    z-index: 5;
}
.mt-tabs ul.mt-tabs-nav li.ui-state-active a {
    height: 40px;
    position: relative;
    border-left-width: 1px;
    border-bottom: 0;
    margin: 0 0 0 -1px;
}
.mt-tabs ul.mt-tabs-nav li.ui-state-active:first-child a {
    margin-left: 0;
}
.mt-tabs ul.mt-tabs-nav li:first-child a {
    border-width: 1px 1px 0 1px;
}
.mt-tabs div.mt-tab {
    margin: 0;
    display: block;
    padding: 20px;
}
.mt-tabs div.mt-tab.ui-tabs-hide {
    display:none;
    margin-bottom: 0;
}
.mt-tabs-content {
    -webkit-box-shadow: 0px -6px 10px -10px rgba(0,0,0,0.4);
    box-shadow: 0px -6px 10px -10px rgba(0,0,0,0.4);
    position:relative;
    z-index: 4;
}

/* Clearfixing tabs for beautiful stacking */
.mt-tabs ul.mt-tabs-nav:before,
.mt-tabs ul.mt-tabs-nav:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.mt-tabs ul.mt-tabs-nav:after {
    clear: both;
}
.mt-tabs ul.mt-tabs-nav {
    zoom: 1;
}

/* Vetical Tabs */
.mt-tabs.vertical ul.mt-tabs-nav {
    width: 150px;
    float: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.mt-tabs.vertical ul.mt-tabs-nav li {
    width: 150px;   
    height: 100% !important;
    margin: 0 !important;
}
.mt-tabs.vertical ul.mt-tabs-nav li a {
    display: block;
    margin: 0;
    padding: 10px;
    border-width: 1px 0 0 1px !important;
    height: 100% !important;
    line-height: 1.4em;
}
.mt-tabs.vertical ul.mt-tabs-nav li.ui-state-active a {
    margin: 0 -1px 0 0 !important;
    height: 100% !important;
}
.mt-tabs.vertical .mt-tabs-content {
    margin-left: 150px;
    margin-top: 0;
    -webkit-box-shadow: -6px 0px 10px -10px rgba(0,0,0,0.4);
    box-shadow: -6px 0px 10px -10px rgba(0,0,0,0.4);
    position:relative;
    z-index: 4;
}

/*---- Features Tabs ----*/
.features-tabs .mt-tabs {text-align: center;}
.features-tabs .mt-tabs ul.mt-tabs-nav {
    display: inline-block;
    text-align: center;
    float: none;
}
.features-tabs .mt-tabs div.mt-tab {padding: 40px 0 20px;}
.features-tabs .mt-tabs .mt-tabs-content {
    margin-top: -5px;
    text-align: left;
    border-width: 1px 0 0 0;
}
.features-tabs .mt-tabs ul.mt-tabs-nav li a {
    height: 59px;
    padding: 0px 20px;
    line-height: 60px;
    font-size: 1.2em;
    font-weight: bold;
}
.features-tabs .mt-tabs ul.mt-tabs-nav li.ui-state-active a {
    height: 60px;
    position: relative;
    border-left-width: 1px;
    border-bottom: 0;
    margin: 0 0 0 -1px;
}

/*---- Toggle/Accordion ----*/

.mt-toggle, .mt-accordion {
    margin: 0 0 20px 0; 
}
.mt-toggle .mt-toggle-inner.closed {display: none;}
.mt-toggle .mt-toggle-title,
.mt-accordion .ui-accordion-header {
    display: block;
    min-height: 18px;
    line-height: 18px;
    margin: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    font-size: 12px;
}
.mt-accordion .ui-accordion-header,
.mt-accordion .ui-accordion-header a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.mt-toggle-inner, .mt-accordion .ui-accordion-content {
    padding: 15px 20px;
    border-bottom: none;
    border-top: none;
}
.mt-toggle span.ui-icon,
.mt-accordion span.ui-icon {
    padding: 11px 13px;
    margin-right: 10px;
    height: 100%;
    display: inline-block;
}
.mt-toggle span.ui-icon:before,
.mt-accordion span.ui-icon:before {;    
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    content: "\f067";
    min-height: 18px;
    line-height: 18px;
    font-size: 12px;
}
.mt-toggle.active .ui-icon:before, .mt-accordion .ui-state-active .ui-icon:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    content: "\f068";
}

/* Clearfix */
.mt-clearfix:before,
.mt-clearfix:after { content:""; display:table; }
.mt-clearfix:after { clear: both; }
.mt-clearfix { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

/*---- Pricing Table ----*/

.pt-column {
    position: relative;
    margin: 0;
    z-index: 2;
    text-align: center;
    margin: 0 auto 20px;
}
.pt-column h3 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
}
.pt-column.pt-recommended {
    margin-top: -10px;
    z-index: 10;
}
.pt-column.pt-recommended h3 {
    padding: 5px 0;
    position: relative;
}
.pt-cost {
    height: 100px;
    font-weight: bold;
}
.pt-cost p {
    font-size: 40px;
    padding-top: 30px;
}
.pt-cost p span {
    font-size: 12px;
    display: block;
    margin-top: 10px;
}
.pt-features ul {
    list-style: none;
    margin: 0;
}
.pt-features ul li {
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 12px;
}
.pt-buynow {
    height: 50px;
    padding: 15px 0;
    line-height: 50px;
}
.pt-recommended .pt-buynow {
    padding: 20px 0;
}
.pt-buynow a {
    font-size: 12px !important;
    padding: 4px 12px !important;
}

/* ---------------------------- */
/*       Fancybox Tweaks
/* ---------------------------- */
#fancybox-buttons.for-single-img a.btnToggle {border-left: 0;}
#fancybox-buttons.for-single-img ul {width: 75px;}
