// transparent color
$_transparent: transparent;

// navigation
$_navigation_color: $_transparent;

// headline, small text, subnavigation, filter
$_subnav_color: $_transparent;

// footer
$_footer_color: #91a8ab;

// grid_brick
$_grid_brick_color: #ff8dcc;

// grid_brick
$_grid_space_color: $_transparent;

// head
$_header_color: #c1272c;

// device
$_device_color: #D0D0D0;

// GP Orange
$_gp_orange: #EA5A0B;

// Colors Used within different Elements on a site 
$_white: #FFFFFF;
$_orange: #F16522;
$_gp_background_grey: #E6E7E7;
$_turquoise_light: #7E9197;
$_turquoise_dark: #1B4C51;
